
  
  img {
    border-width: 5px;
    border-radius: 5%;
    border-color: #db001d;
    border-style: double;
    width: 20%;
   
  }
  
  
  .Tfont {
    color: #db001d;
    font-size: xx-large; 
    font-style: underline;
  }
  